# Server Configuration
HOST=
PORT= 
NODE_ENV=
OAUTH_PASSWORD= 
SECRET= 
ALLOWED_ORIGINS=
FRONTEND_URL=
APP_URL=


# Database
MONGO_URI= 
MONGO_DB_NAME=
MONGO_QUERY_PARAMS=


# Redis or Cache DB
VALKEY_PORT= 
VALKEY_HOST= 
VALKEY_PASSWORD= 

# Authentication
JWT_SECRET=
JWT_EXPIRES_IN=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# AI SERVICES
OPENROUTER_KEY= 
TTS_PROVIDER= 

# API Configuration
API_VERSION= 
API_BASE_URL= 